*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6,p, span, ul, li {
    margin: 0;
    padding: 0;
}
html {
    background-color: #FFEDF1;
}
body {
    background-color: #FFEDF1;
}
/* :root {
    --primary-font: "Playfair Display", serif;
    --secondary-font: "Mulish", sans-serif;
    --primary-color:#322829;  
    --secondary-color:#DACBCE;
    --title-color:#7B3955;
    --btn-color:#FFD9F2;
    --background-color:#FFEDF1;
} */
li {
    list-style: none;
}
.container{
    max-width:1600px;
    width:100%;
    margin: 0 auto;
}
.container-full {position: relative;}
.second-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo a {font-size: 30px; color: #7B3955; font-weight: 700; text-transform: uppercase; font-family:"Mulish", sans-serif;}
.header-logo a:hover{text-decoration: none;}
.second-header nav li a{
font-size: 15px;
font-family:"Mulish", sans-serif;
color: #222;
text-decoration: none;
text-transform: uppercase;
font-weight: 500;
}
.header-links a i {
    font-size: 20px;
    color: #7B3955;
    margin-right: 10px;

}
.banner-btn a {
    background-color: #DABA53;
    padding: 15px 20px;
    color:#7B3955;
    font-family:"Mulish", sans-serif;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    transition: ease 0.4s;
}
.banner-btn a:hover {
    background-color: #7B3955;
    color: #fff;
    cursor: pointer;
    transition: ease 0.4s;
}
.banner-image img {
    width: 100%;
    object-fit: cover;
    height: 100vh;
}
.banner-content {
    text-align: center;
}
.bannner-content-col {
    position: absolute;
    top: 35%;
    /* transform: translateY(-50%); */
    padding: 0 20px;
    left: 27%;
}
.banner-content h1 {
    font-size: 40px;
    font-family: "Playfair Display", serif;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2em;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.banner-content p {
    font-size: 16px;
    font-family:"Mulish", sans-serif;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.3em;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.banner-content .banner-btn {
    margin-top: 50px;
}

/* Who we are */
.who-we-are-section {
    padding: 60px 0 0;

}
.row-padding {
    padding: 0px 0 60px;
    border-bottom: 1px solid #ccc;
}
.content-image img {
    width: 100%;
    object-fit: cover;
    height:340px;
    margin-bottom: 10px;
}
.left-content {
    padding: 20px;
}
.all_button a {
    background-color: #7B3955;
    padding: 15px 20px;
    color:#fff;
    font-family:"Mulish", sans-serif;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    transition: ease 0.4s;
}
.all_button a:hover{
    background-color: #322829;
    color: #fff;
    cursor: pointer;
    transition: ease 0.4s;  
}
.left-content h2 {
    color: #7B3955;
    font-family: "Playfair Display", serif;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 30px;
}
.all-common-heading h4 {
    font-size: 12px;
    font-family: "Playfair Display", serif;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.who-para p {
    font-size: 15px;
    font-family:"Mulish", sans-serif;
    margin-bottom: 20px;
    line-height: 1.6em; 
    font-weight: 600;
}
.all-common-heading h3 {
    font-size: 35px;
    font-family: "Playfair Display", serif;
    margin-bottom: 15px;
    color:#7B3955;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.2em;
}
.all-common-heading p {
    font-size: 15px;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.6em;
    
}
.right-para-content p {
    font-size: 15px;
    font-family: "Playfair Display", serif;
    margin-bottom: 20px;
    line-height: 1.6em; 
}

/* Our Services */
.our_services_section {
    padding: 60px 0;
}
.service-image img {
    width: 100%;
    object-fit: cover;
}
.services-row {
    display: flex;
}
.services-col {
    width: calc(33% - 30px);
    margin: 0 15px 30px ;
}
.service-image-content {
    padding: 20px 20px 10px;
    text-align: center;
}
.service-content {
    text-align: center;
}
.serv-content-para p {
    font-size: 16px;
    font-family:"Mulish", sans-serif;
    margin-bottom: 20px;
    line-height: 1.6em;   
}
.service-image-content h3 {
    font-size: 25px;
    font-family: "Playfair Display", serif;
    margin-bottom: 2px;
    color:#7B3955;
    line-height: 1.2em;
}
.service-image-content h5 {
    font-size: 15px;
    font-family: "Playfair Display", serif;
    margin-bottom: 2px;
    color:#322829;
    line-height: 1.2em;
}
.our_services_section .all_button{text-align: center; margin-top: 35px;}
.arrow-btn a i {
    font-size: 25px;
    color:#322829;
    transition: ease 0.5s;
}
.arrow-btn a:hover i{
    padding-left:15px;
    transition: ease 0.5s;
    cursor: pointer;
}
.our_services_section .all-common-heading{
    text-align: center;
    margin-bottom: 40px;
}


/* btn contact us and image section */
.contact-us-btn-section {
    background-color: #fff;
}
.btn-text-row {
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
}
.text-content-para {
    width: 70%;
    padding-right: 4%;
}
.btn-text-row .all_button{
    width: 30%;
}
.text-content-para h3 {
    color: #7B3955;
    font-family: "Playfair Display", serif;
    font-size: 30px;
    line-height: 1.2;
}
.btn-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    height: 100%; 
  }

  .colmn {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }

  .single-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .double-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* Testimonial section */
.client-profile-image img {
    width:100%;
    max-width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 50%;
    margin: 0 auto 20px;
}

.testimonial-section {
    padding: 100px 0;
}
.testimonial-row {
    text-align: center;
    width: 60%;
    padding: 0 40px;
    margin: 0 auto;
}
.quote p i {
    font-size: 40px;
    color: #7B3955;
}
#client_slider .owl-nav .owl-prev {
    color: #222;
    position: absolute;
    height: 50px;
    top: 45%;
    left: 6%;
    border-radius: 50%;
    width: 50px;
    background: var(--background-color);
    border: 1px solid #DCDCDC;
    z-index: 999;
    overflow: hidden;
}
#client_slider .owl-nav .owl-next {
    color: #222;
    position: absolute;
    height: 50px;
    top: 45%;
    right: 6%;
    border-radius: 50%;
    width: 50px;
    background: var(--background-color);
    border: 1px solid #DCDCDC;
    z-index: 999;
    overflow: hidden;
}
#client_slider .owl-nav .owl-prev span {
    font-size: 40px;
    line-height: 0.7em;
}
#client_slider .owl-nav .owl-next span {
    font-size: 40px;
    line-height: 0.7em;
}

/* our blog section  */
.our-blog-section .all-common-heading {
    text-align: center;
    margin-bottom: 40px;
}
.blog-image img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 25px;
}
.blog-row {
    display: flex;
}
.blog-col {
    width: calc(33% - 30px);
    margin: 0 15px 30px ;
}
 .blog-date p {
    font-size: 12px;
    font-family:"Mulish", sans-serif;
    margin-bottom: 12px;
    line-height: 1.6em;
    color:#777; 
}
.blog-title h4 {
    font-size: 20px;
    font-family: "Playfair Display", serif;
    margin-bottom: 10px;
    color:#322829;
    line-height: 1.2em;
}
.blog-desc p {
    font-size: 15px;
    font-family:"Mulish", sans-serif;
    margin-bottom: 20px;
    line-height: 1.6em; 
}
/* card section  */
.card-row {
    display: flex;
   align-items: center;
}
.card-col {
    width: calc(25% - 4px);
    margin: 0 2px 6px ;
}
.card-image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

/* video section   */
.video-image img {
    width: 100%;
    object-fit: cover;
    height: 100vh;
}
.video-image {
    position: relative;
}

.video-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.video-title h3 {
    font-size: 30px;
    font-family: "Playfair Display", serif;
    margin-bottom: 20px;
    color:#fff;
    line-height: 1.2em;
}
.video-btn .play-btn {
    width: 80px;
    height: 73px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #DCDCDC;
    padding: 10px;
    cursor: pointer;
}
.video-btn .play-border {
    width: 93px;
    height: 90px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #DCDCDC;
    padding: 9px;
    cursor: pointer;
}

.video-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

#play-video-btn {cursor:pointer;}
.video-class {position:relative;}
.container-full {position:relative;}

#client_slider button.owl-dot {
    background-color: #D9D9D9;
    width: 15px;
    height: 15px;
    /* display: flex; */
    border-radius: 50px;
    margin: 0 3px;
}
#client_slider button.owl-dot.active {
    background-color: #7B3955;
}
#close-popup{
position:absolute;
top: 17px;
right: 12px;
font-size: 40px;
color: white;
cursor: pointer;
z-index:9999;
}
#client_slider .owl-dots {
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 30px 0 0;
}


















/* REsponsive css */
@media(min-width:1200px) and (max-width:1440px) {
    .container{
        max-width:90%;
        width:100%;
        margin: 0 auto;
    }
}
@media(max-width:767px) {
    .container {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
    }
    .navbar {
        position: absolute;
        top: 9%;
        left: 0;
        z-index: 0999;
        background: transparent;
        width: 100%;
        color: #fff;
        padding: 18px 0px;
    }
    .navbar ul li a{
        font-size: 15px;
        font-family:"Mulish", sans-serif;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
    }
    .navbar-nav .nav-link {
        padding-right: 20px;
        padding-left: 20px;
    }
    .main-header {
        padding: 15px 0;
    }
    .header-logo a {
        font-size: 22px;
    }

    .navbar-toggler {
        background-color: transparent;
        position: absolute;
        top: 0px;
        right: 16px;
        border: none;
    }
    .navbar-light .navbar-nav .nav-link.active {
        color: #000;
        background-color: #fff;
    }
    .header-links {
        display: none;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #fff;
        padding: 12px;
    }
    .navbar-nav {background-color: #7B3955;}
    .bannner-content-col {left: 0; top: 24%;}
    .banner-content h1 { font-size: 30px;}
    .banner-content p {font-size: 16px;}
    .banner-content .banner-btn { margin-top: 20px; }
    .who-para p {font-size: 16px;}
    .banner-image img { height: 400px;}
    .who-we-are-section {padding: 30px 0 0;}
    .who-we-are-section .row-padding {padding: 0px 0 30px;}
    .left-content {margin-bottom: 30px;}
    .left-content h2 {font-size: 25px;}
    .all-common-heading h3 {font-size: 25px;}
    .all-common-heading p {font-size: 14px;}
    .right-para-content p {font-size: 16px;}
    .all-common-heading h4 {font-size: 12px;}
    .serv-content-para p {font-size: 14px;}
    .service-image-content h3 {font-size: 20px; margin-bottom: 10px;}
    .service-image-content h5 {font-size: 14px;}
    .our_services_section .all_button {text-align: center; margin-top: 20px;}
    .our_services_section .all_button a {width: 100%;}
    .our_services_section .all_button a {text-align: center;}
    .btn-text-row {width: 100%;}
    .text-content-para {width: 100%; padding-right: 0;}
    .btn-text-row .all_button {width: 100%;}
    .btn-content {flex-direction: column; align-items: flex-start;}
    .btn-content .all_button {width: 100%;}
    .btn-content .all_button {text-align: center;}
    .btn-content .all_button {margin-top: 20px;}
    .blog-row {display: block;}
    .blog-col {width: 100%; margin: 0 0 30px;}
    .blog-title h4 {font-size: 20px;}
    .blog-desc p {font-size: 16px;}
    .blog-date p {font-size: 14px;}
    .card-row {flex-wrap: wrap;}
    .card-col { width: calc(50% - 4px); margin: 0 2px 6px;}
    .card-image img { height: 100%;}
    /* .video-image img {height: 400px} */
    .video-content {top: 30%; left: 50%; transform: translate(-50%, -50%); width: 100%;}
    .video-title h3 {font-size: 25px;}
    .video-title h3 {margin-bottom: 10px;}
    .video-btn .play-btn {width: 60px; height: 60px;}
    .video-btn .play-border {width: 70px; height: 70px;}
    .video-btn {margin-top: 20px;}
    .video-btn {margin-top: 20px;}
    .video-btn .play-btn {width: 60px; height: 50px;}
    .video-btn .play-border {width: 70px; height: 70px;}
    .video-btn {margin-top: 20px;}
    .testimonial-row { width: 100%;}
    .testimonial-row {padding: 0 20px;}
    .row-padding {  padding: 0px 0 30px;}
    .blog-image img { height: 350px; }
    .services-row {flex-direction: column;}
    .services-col {width: calc(100% - 0px); margin: 0 0 30px;}
    .service-image img { height: 300px;}
    .text-content-para h3 { margin-bottom: 20px;  text-align: center;}
    #video-popup {
            top: 0%;
            left: 0px;
            width: auto;
            height: 100%;
       
    }
}


@media(min-width:768px) and (max-width:991px) {
    .container {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
    }
    .bannner-content-col {left: 20%; top: 30%;}
    .banner-content h1 { font-size: 30px;}
    .banner-content p {font-size: 16px;}
    .banner-content .banner-btn { margin-top: 20px; }
    .who-para p {font-size: 16px;}
    .banner-image img { height: 400px;}
    .who-we-are-section {padding: 30px 0 0;}
    .who-we-are-section .row-padding {padding: 0px 0 30px;}
    .left-content {margin-bottom: 30px;}
    .left-content h2 {font-size: 25px;}
    .all-common-heading h3 {font-size: 25px;}
    .all-common-heading p {font-size: 14px;}
    .right-para-content p {font-size: 16px;}
    .all-common-heading h4 {font-size: 12px;}
    .serv-content-para p {font-size: 14px;}
    .service-image-content h3 {font-size: 20px; margin-bottom: 10px;}
    .service-image-content h5 {font-size: 14px;}
    .our_services_section .all_button {text-align: center; margin-top: 20px;}
    .our_services_section .all_button a {width: 100%;}
    .our_services_section .all_button a {text-align: center;}
    .btn-text-row {width: 100%;}
    .text-content-para {width: 100%; padding-right: 0;}
    .btn-text-row .all_button {width: 100%;}
    .btn-content {flex-direction: column; align-items: flex-start;}
    .btn-content .all_button {width: 100%;}
    .btn-content .all_button {text-align: center;}
    .btn-content .all_button {margin-top: 20px;}
    .blog-title h4 {font-size: 20px;}
    .blog-desc p {font-size: 16px;}
    .blog-date p {font-size: 14px;}
    .card-row {flex-wrap: wrap;}
    .card-col { width: calc(50% - 4px); margin: 0 2px 6px;}
    .card-image img { height: 100%;}
    /* .video-image img {height: 400px} */
    .video-content {top: 50%; left: 50%; transform: translate(-50%, -50%); width: 90%;}
    .video-title h3 {font-size: 25px;}
    .video-title h3 {margin-bottom: 10px;}
    .video-btn .play-btn {width: 60px; height: 60px;}
    .video-btn .play-border {width: 70px; height: 70px;}
    .video-btn {margin-top: 20px;}
    .video-btn .play-btn {width: 60px; height: 50px;}
    .video-btn .play-border {width: 70px; height: 70px;}
    .testimonial-row { width: 75%;padding: 0 20px;}
    .row-padding {  padding: 0px 0 30px;}
    .services-col {width: calc(100% - 12px); margin: 0 6px 30px;}
    .service-image img { height: 300px;}
    .text-content-para h3 { margin-bottom: 20px;  text-align: center;}
    #video-popup {
            top: 0%;
            left: 0px;
            width: auto;
            height: 100%;
       
    } 

}
@media(min-width:992px) and (max-width:1199px) {
    .banner-image img {  height: 100%;  }
    .bannner-content-col { top: 32%;  left: 19%; }

    
}